<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Document</title>
</head>

<body>
    <div class="row">
                        <input type="text" placeholder="Razão Social" required>
                        <br>
                        <input type="text" placeholder="CNPJ" required>
                        <br>
                        <button>Enviar</button>
                    </form>
                </div>
                <li><a href="{{url_for('index')}}">Clientes</a></li>
                <li><a href="{{url_for('add')}}">Cadastro</a></li>
                <li><a href="#">Alterar</a></li>
                <li><a href="#">Excluir</a></li>
            </ul>
        </nav>
        <article>
            <div class="content">
                {%block body%}
                {%endblock%}
            </div>
        </article>
    </div>

</body>

</html>